#concept {
	.container {
		background:url('../images/concept/concept-bg.jpg');
		background-size:cover;
		.planet {
			z-index: 2;
			&.planet01{
				position:absolute;
				bottom:0px;
				left: -90px;
				width: 500px;
				height: 500px;
				background:url('../images/concept/planet-01.png') no-repeat center center;
				background-size:100%;
			}
			&.planet02{
				position:absolute;
				top:0px;
				right: 40px;
				width: 160px;
				height: 240px;
				
				background:url('../images/concept/planet-02.png') no-repeat center center;
				background-size:100%;
			}

		}

		.explanation {
			position:absolute;
			width: 40%;
			left: 50%;
			top:50%;
			transform: translateY(-50%);
			color:$grey10;
		}
		
	}

	
}