#concept {
	.container {
		background:url('../images/concept/concept-bg.jpg');
		background-size:cover;
		.planet {
			z-index: 2;
			&.planet01{
				position:absolute;
				bottom:0px;
				left: -130px;
				width: 500px;
				height: 500px;
				background:url('../images/concept/planet-01.png') no-repeat center center;
				background-size:100%;
				opacity: 0;

				transition:0.5s;
				transition-property: opacity,left;
				transition-timing-function: $ease-out-quad;
			}
			&.planet02{
				position:absolute;
				top:0px;
				right: 0px;
				width: 160px;
				height: 240px;
				opacity: 0;
				background:url('../images/concept/planet-02.png') no-repeat center center;
				background-size:100%;
				transition:0.5s;
				transition-property: opacity,right;
				transition-timing-function: $ease-out-quad;
			}

		}

		.explanation {
			position:absolute;
			width: 40%;
			left: 50%;
			top:50%;
			transform: translateY(-50%);
			color:$grey10;

			opacity: 0;
			
			transition:0.3s;
			transition-property: opacity;
			transition-timing-function: $ease-out-quad;
			transition-delay: 0.1s;
			h3 {
				font-size:35px;
				font-family:Montserrat-Bold;
				text-transform:uppercase;
			}
			p {
				font-size:18px;
				font-family:Montserrat-Light;
			}
		}
		
	}

	&.animated {
		.planet {
			&.planet01{
				left: -90px;
				opacity: 1;
			}
			&.planet02{
				right: 40px;
				opacity: 1;
			
			}

		}
		.explanation {
			opacity: 1;
		}
	}
	
}