#thanks {
	.container {
		background:url('../images/thanks/thanks-bg.jpg') no-repeat center center;
		background-size:cover;
		.thanks {
			position:absolute;
			bottom: 5px;
			width: 50%;
			left:50%;
			text-align: center;
			transform: translateX(-50%);
			color:#9c6640;

			h2 {
				font-size: 35px;
				font-family:Montserrat-Bold;
				text-transform: uppercase;
				margin:0;
			}
			p {
				font-size: 18px;
				font-family:Montserrat-Light;
				margin:5px;
			}
		}
		.credits {
			position:absolute;
			bottom:0;
			width: 98%;
			left: 1%;
			p {
				position:relative;
				display: inline;
				float: left;
				color:#6f452d;
				font-size:18px;
				font-family:Montserrat-Light;
			}
			img {
				position:relative;
				display: inline;
				margin:5px;
				float: right;
			}
		}
		.wrapper {
			position: relative;
			top:50px;
			width:80%;
			margin:0 auto;
			opacity:0;

			transition:0.4s;
			transition-property: opacity,top;
			transition-timing-function: $ease-out-quad;
			a {
				float:left;
				width:33%;
				text-align:center;
				h4,h5 {
					padding:0;
					margin:0;
					color:$grey10;
					text-transform:uppercase;
				}
				h4 {
					font-family:Montserrat-Bold;
					font-size:18px;
					margin-top:25px;
				}
				h5 {
					font-family:Montserrat-Light;
					font-size:18px;
				}

				&.gobelins {
					img {
						padding-top:30%;
					}
				}

				&.jordan,&.tim {
					position:relative;
					cursor:pointer;
					img {
						-webkit-backface-visibility: hidden;
    					-webkit-transform: translateZ(0) scale(1.0, 1.0);
						transition:0.4s;
						transition-property: filter, -webkit-filter;
						transition-timing-function: $ease-out-quad;
					}
					.portfolio {
						position:absolute;
						top:35%;
						color:$grey10;
  						opacity:0;
  						transition:0.4s;
						transition-property: opacity;
						transition-timing-function: $ease-out-quad;
						z-index:2;
						width:100%;
  					}
					&:hover {

						img {
							filter: brightness(50%);
	  						-webkit-filter: brightness(50%);
  						}
  						.portfolio {
  							opacity:1;
  						}
					}

				}

			}
		}
	}
	&.animated{
		.wrapper {
			opacity:1;
			top:0px;
		}
	}
	
}